html {
    scroll-behavior: smooth;  
  }

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
  
body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #3A3C4D;
    font-family: 'Lekton';
    color: #DFE0E9;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #DFE0E9;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;    
}